body {
	margin: 20px 170px 20px 170px; 
	background-color: none;
	text-align: center;
	line-height: 25px;
}

.top-header {
		margin: 0px;
}


#main-title {
	font-size: 80px;
	color: #3366ff;
	font-family: 'Fira Sans', sans-serif;
	margin-bottom: 70px;
}

#navbar {
	background-color: #3366ff;
	color: white;
}

q {
	font-family: 'Lobster', cursive; }

.P {
	font-family: 'Lobster', cursive;

}

h3 {
	font-family: 'Fira Sans', sans-serif;
	font-size: 40px;
}