body {
	margin: 0px 180px 0px 180px; 
	box-shadow: -8px 0px 15px #f2f2f2, 8px 0px 15px #f2f2f2;
	background-color: none;
	text-align: center;
	line-height: 25px;
}

body p  {
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
	margin: 0px 80px 20px 80px;

}

#main-title {
	font-size: 80px;
	color: #3366ff;
	font-family: 'Fira Sans', sans-serif;
	margin-bottom: 70px;
}

#navbar {
	background-color: #3366ff;
	padding: 12px 12px;
	display: flex;
	justify-content: flex-end;

}

#navbar a {
	color: white;
	text-decoration: none;
	border-left: 1px solid white;
	padding-left: 6px;
	font-size: 20px;
	font-family: 'Fira Sans', sans-serif;
	margin-right: 25px;
}

#spacing {
	margin-bottom: 35px;
}

.hero-image {
	margin: -20px -280px 0px -280px;
}

q {
	font-family: 'Lobster', cursive;
	font-size: 20px;
	margin-bottom: 50px: 
}

h3 {
	font-family: 'Fira Sans', sans-serif;
	font-size: 40px;
}

footer {
	background-color: #3366ff;
	padding: 80px;
}