body {
	margin: 0px 180px 0px 180px; 
	background-color: none;
	text-align: center;
	line-height: 25px;
}

body p  {
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;

}

#main-title {
	font-size: 80px;
	color: #3366ff;
	font-family: 'Fira Sans', sans-serif;
	margin-bottom: 70px;
}

#navbar {
	background-color: #3366ff;
	padding: 12px 12px;
	display: flex;
	justify-content: flex-end;
	margin: 0px -180px 0px -180px;

}

#navbar a {
	color: white;
	text-decoration: none;
	border-left: 1px solid white;
	font-size: 20px;
	font-family: 'Fira Sans', sans-serif;
	margin-right: 25px;
}

.hero-image {
	margin: -20px -280px 0px -280px;
}

q {
	font-family: 'Lobster', cursive;
	font-size: 20px;
}



h3 {
	font-family: 'Fira Sans', sans-serif;
	font-size: 40px;
}

footer {
	background-color: #3366ff;
	padding: 80px;
	margin: 0px -180px 0px -180px;
}